@charset "utf-8";
/* CSS Document */


body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
	background-color: #272121;
	width: 910px;
	margin: 7px auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
a {
	padding-right: 35px;
	text-decoration: none;
}
a:link {
	color: rgb(77, 56, 10);		 
}
a:visited {
	color: rgb(77, 56, 10);
}
a:hover {
	color: #000000;
}
h5 {
	font-weight: normal;
	font-style: italic;
	margin: 5px 0px;
}
.buy {
	text-align: right;
	margin-right: 35px;
}
td {
	padding: 14px;
}
td.subheader {
    border-bottom: 1px solid rgb(77, 56, 10);
}
span.finish {
    font-size: smaller;
}